body {
  background: #e6eaea;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

.tittle {
  font-size: 40px;
  color: #535353;
}
.main__tittle {
  font-size: 26px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 25px;
}
.box {
  height: 30px;
  width: 20vw;
  background: #f1f1f1;
}
.button {
  border-radius: 10;
  width: 85px;
  background: #9cd4d8;
  order: solid 2px #9cd4d8;
  margin-top: 10px;
  font-size: 20px;
}
.container {
  font-size: 25px;
}
